html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
input,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
nav ol,
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input[type="submit"] {
  cursor: pointer;
}
::-moz-selection {
  background: #fff;
  color: #373838;
}
::selection {
  background: #fff;
  color: #373838;
}
::-moz-selection {
  background: #fff;
  color: #373838;
}
body {
  font-family: "Roboto Slab", serif;
}
h1 {
  font-size: 50px;
  font-weight: lighter;
}
h2 {
  font-size: 24px;
  font-weight: lighter;
}
h3 {
  font-size: 18px;
  font-weight: lighter;
}
p {
  font-size: 14px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.nav {
  font-size: 14px;
  line-height: 50px;
}
.nav a {
  display: inline-block;
  padding: 0 10px;
}
.subscribe-form {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  vertical-align: top;
}
.subscribe-form input[type="text"] {
  width: 65%;
  padding: 0 10px;
  border: 0;
  font-size: 16px;
  vertical-align: top;
}
.subscribe-form input[type="text"]:focus {
  outline: 0;
}
.subscribe-form input[type="submit"] {
  width: 30%;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  margin-left: -5px;
  vertical-align: top;
}
.subscribe-form input[type="submit"]:focus {
  outline: 0;
}
.logo {
  background: url(../images/AOE.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: contain;
  font-size: 0;
  overflow: hidden;
  text-indent: 999px;
  display: inline-block;
  max-width: 100%;
  max-height: 100px;
}
.logo span {
  display: block;
  font-size: 0;
}
.page-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10px;
}
.page-header__inner {
  max-width: 1024px;
  margin: 0 auto;
}
.page-header__inner:after {
  content: "";
  display: table;
  clear: both;
}
.page-header__logo {
  float: left;
  width: 212px;
  height: 45px;
  color: #373838;
}
.page-header__nav {
  text-align: right;
}
.page-header__nav-link {
  color: #0033cc;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.page-header__nav-link:hover {
  background-color: #0033cc;
  color: #ffffff;
}
